<div class="modal-header bg-danger text-white">
    <h5 class="modal-title">{{ delete_title|default:"Confirmar Exclusão" }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form method="post" action="{{ form_action_url }}" class="ajax-form" id="workOrderDeleteConfirmForm">
    {% csrf_token %}
    <div class="modal-body">
        <p>Você tem certeza que deseja excluir a <strong>Ordem de Serviço #{{ work_order.id }}</strong> relacionada ao Ticket "{{work_order.ticket.title}}"?</p>
        <p class="text-danger">Esta ação não poderá ser desfeita.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-danger">Sim, Excluir Ordem de Serviço</button>
    </div>
</form>
